*{
	box-sizing: border-box;
}
.container{
	display:flex;
	justify-content: space-around;

}
.recap{
	display:flex;
	align-items: center;
	flex-direction: column;
	font-size: 4em;

}
.total div,.total1 div{
	font-size: 4em;
	text-align: center;
}

#grille{
	
	
	display: flex;
	flex-wrap: wrap;
	margin: auto;
}

.case{
	
	width: 6rem;/*16px * 6 = 96px*/
	height: 6rem;
	line-height: 6rem;
	border: 1px solid #888;
	text-align: center;
	font-size: 3rem;/*16px x 3 = 48px = 1em*/
	
}

.active{
    background-color: yellow;
}
.anim{
	animation: play;
	animation-duration: 2s;
}
@keyframes play{
	0%{
		position: absolute;
		top: 0;
		left: 50%;
		transform: skew(90deg, -90deg);
	}
	100%{
		transform: skew(0deg, 0deg);
		scale: 1;
	}
}
.win{
	/* position:absolute;
	width: 100%;
	height: 100%; */
	animation: win;
	animation-duration: 2s;
}
@keyframes win{
	0%{
		position: absolute;
		top: 0;
		left: 50%;
		transform: skew(90deg, -90deg);
	}
	100%{
		transform: skew(0deg, 0deg);
		scale: 1;
	}
}