*{
	box-sizing: border-box;
}
.container{
	display:flex;
	justify-content: space-around;

}
.recap{
	display:flex;
	align-items: center;
	flex-direction: column;
	font-size: 4em;

}
.total div,.total1 div{
	font-size: 4em;
	text-align: center;
}

#grille{
	
	
	display: flex;
	flex-wrap: wrap;
	margin: auto;
}

.case{
	
	width: 6rem;/*16px * 6 = 96px*/
	height: 6rem;
	line-height: 6rem;
	border: 1px solid black;
	background-color:  #888 ;
	box-shadow: 1px 1px 1px black;
	border-radius: 15px;
	text-align: center;
	font-size: 3rem;/*16px x 3 = 48px = 1em*/
	
}
.case:hover{
	box-shadow: 0 0 0;
	transform: scale(0.9);
}

.active{
    background-color: rgb(250,150,50,0.5);
}
.anim{
	animation: play;
	animation-duration: 2s;
}
@keyframes play{
	0%{
		transform: skew(0deg, 90deg);
	}
	100%{
		transform: skew(0deg, 0deg);
		scale: 1;
	}
}
.win{	
	animation: blink  100ms infinite;
	animation-iteration-count: 10;
	animation-delay: 2s;
}
@keyframes blink{
	0%{
		background-color: white;
	}
	100%{
		background-color: green;
		scale: 1;
	}
}
.total,.total1,#morpion{
	text-align: center;
	width: 33%;
	box-shadow: 1px 1px 1px black;
	border-radius: 15px;
}
